.edumall-dark-scheme {
    .tutor-frontend-course-builder {
        .page-header-inner {
            background: #020c18 !important;
        }
    }

    .tutor-frontend-course-builder-section {
        background: #031f42 !important;
    }

    .tutor-course-builder-section,
    .tutor-course-builder-upload-tips {
        background: #020d1b;
    }

    .tutor-form-group span.tutor-input-prepand {
        border-color: $form-border;
    }

    .tutor-topic-title span.expand-collapse-wrap {
        border-color: rgba(255, 255, 255, .1);
    }

    .tutor-metabox-add-topics {
        background: #020d1b;
    }

    &.tutor-screen-course-builder #tutor-metabox-course-settings-tabs .course-settings-tabs-container .settings-tabs-container {
        border-color: $form-border;
        background-color: $form-background;
    }

    &.tutor-screen-course-builder #tutor-metabox-course-settings-tabs .course-settings-tabs-container .settings-tabs-container label.tutor-course-setting-label,
    &.tutor-screen-course-builder.tutor-screen-course-builder-frontend .tutor-course-builder-section .tutor-course-field-label {
        color: $heading-color;
    }

    .tutor-thumbnail-uploader .thumbnail-wrapper,
    .tutor-alert,
    &.tutor-screen-course-builder .tutor-course-available-instructors .added-instructor-item {
        background-color: $form-background;
        border-color: $form-border;
        color: $heading-color;

        .tutor-alert-text,
        .instructor-name,
        .instructor-name .tutor-color-black {
            color: inherit;
        }

        .instructor-email.tutor-color-secondary {
            color: $text-color;
        }
    }

    .tutor-thumbnail-uploader .thumbnail-wrapper .thumbnail-input .tutor-color-secondary {
        color: #fff !important;
    }
}

.tutor-topic-title a {
    color: #fff;
}

#tutor-zoom-metabox-wrap {
    .zoom-meetings-heading {
        border-color: rgba(255, 255, 255, .1);
    }
}

.zoom-meetings-container .tutor-zoom-meeting-item {
    border-color: rgba(255, 255, 255, .1);
}
