@font-face {
    font-family: 'IRANSansXFaNum';
    src: url('IRANSansXFaNum-Medium.woff2') format('woff2'),
        url('IRANSansXFaNum-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANSansXFaNum';
    src: url('IRANSansXFaNum-Regular.woff2') format('woff2'),
        url('IRANSansXFaNum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

