.search-page {
  &-courses {
    @apply flex flex-col gap-6 [background:var(--Generic-White,#FFF)] p-6;

    &-item {
      @apply border border-[color:var(--Neutral-400,#CED4DA)] rounded-[16px_0px_16px_16px] border-solid overflow-hidden;

      .pics {
        @apply h-52 overflow-hidden relative;

        &-author {
          @apply w-14 h-14  border border-[color:var(--Generic-White,#FFF)] rounded-[8px_0px_8px_8px] border-solid absolute top-2 right-2 bg-[#bdd5c5] overflow-hidden;

          img {
            @apply h-full w-full;
          }
        }

        &-thumbnail {
          img {
            @apply w-full min-h-full object-cover;
          }
        }

        .bookmark {
          @apply w-fit h-fit absolute bg-white p-2  [background:var(--Generic-White,#FFF)] rounded-[8px_8px_0px_0px] bottom-0 left-8 cursor-pointer;

          img {
            @apply hidden w-6 h-6;

            &.active {
              @apply block;
            }
          }
        }
      }

      .captions {
        @apply flex flex-col gap-8 p-4 flex-grow;

        &-meta {
          @apply flex flex-col gap-2 flex-grow;

          &-title {
            @apply h-[52px] flex-grow;

            a {
              @apply text-[color:var(--Generic-Black,#121212)] text-base font-normal leading-[160%];
            }
          }

          &-info {
            @apply flex flex-col gap-3;

            p {
              @apply text-[color:var(--Generic-Black,#121212)] text-xs font-normal leading-[110%];
            }

            &-item {
              @apply flex items-center gap-2;

              &:nth-child(3) {
                @apply gap-1;

                img {
                  @apply ml-1;
                }
              }

              &-category {
                &:not(:last-child) {
                  &::after {
                    content: "،";
                  }
                }
              }

              &-reviews {
                @apply text-[color:var(--Neutral-600,#6C757D)] #{!important};
              }
            }
          }
        }

        &-price {
          @apply flex flex-col items-end self-end;

          p {
            @apply text-[color:var(--Primary-500,#C22E58)] text-center text-base font-normal leading-[110%];
          }

          &-regular {
            @apply flex gap-1;

            &-num {
              @apply text-[color:var(--Generic-Black,#121212)] text-base font-normal leading-[110%];
            }

            &-sign {
              @apply text-[color:var(--Neutral-700,#495057)] text-xs font-normal leading-[110%];
            }
          }

          &-sale {
            @apply flex items-end gap-3;

            &-percent {
              @apply inline-flex justify-center items-center gap-2 rounded [background:var(--Primary-500,#C22E58)] p-1;
              @apply text-[color:var(--Generic-White,#FFF)] text-xs font-normal leading-[110%] #{!important};
            }

            &-num {
              @apply flex gap-1;

              p {
                @apply text-[color:var(--Neutral-500,#ADB5BD)] text-xs font-normal leading-[110%];

                &:first-child {
                  @apply text-[color:var(--Neutral-500,#ADB5BD)] text-sm font-normal leading-[110%] line-through;
                }
              }
            }
          }
        }
      }
    }
  }

  &-pagination {
    @apply flex justify-center gap-2;

    span {
      @apply flex w-8 h-8 flex-col justify-center items-center [background:var(--Primary-500,#C22E58)] p-2 rounded-lg;

      p {
        @apply text-[color:var(--Generic-White,#FFF)] text-xs font-normal leading-[110%];
      }
    }

    a {
      @apply flex justify-center items-center w-8 h-8 border border-[color:var(--Neutral-300,#DEE2E6)] [background:var(--Generic-White,#FFF)] p-2 rounded-lg border-solid;

      &.next::after {
        content: "\f053";
        @apply text-[color:var(--Generic-Black,#121212)] text-xs font-normal leading-[110%];
        font-family: "Font Awesome 5 Pro";
      }

      &.prev::after {
        content: "\f054";
        @apply text-[color:var(--Generic-Black,#121212)] text-xs font-normal leading-[110%];
        font-family: "Font Awesome 5 Pro";
      }

      p {
        @apply text-[color:var(--Generic-Black,#121212)] text-xs font-normal leading-[110%];
      }
    }
  }
}
