.tutor-icon-calendar {
  &:before {
    content: "\f133";
  }
}

.tutor-icon-clock {
  &:before {
    content: "\f017";
  }
}

.tutor-icon-lock {
  &:before {
    content: "\f023";
  }
}

.tutor-icon-settings-1 {
  &:before {
    content: "\f013";
  }
}

.tutor-icon-add-friend {
  &:before {
    content: "\f234";
  }
}

.tutor-icon-copy {
  &:before {
    content: "\f0c5";
  }
}

.tutor-icon-angle-down {
  &:before {
    content: "\f107";
  }
}

.tutor-icon-angle-up {
  &:before {
    content: "\f106";
  }
}

.tutor-icon-cart-line-filled {
  &:before {
    content: "\f07a";
  }
}
